<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="This is a weather prediction organization that predicts temperature, humidity, wind pressure.">
    <meta name="keyword" content="Weather prediction, temperature, humidity and wind pressure">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Image Recognition at Allerin</title>
    <link rel="shortcut icon" href="/home/rams/Desktop/Recognistion/Image Recognition/icons/Image_recognition.ico">
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheets/application.css">
    <link rel="stylesheet" href="/static/stylesheets/image_recognition.css">
    <script src="/static/javascripts/application.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/javascripts/bootstrap.min.js"></script>
    <script src="/static/javascripts/image_recognition.js"></script>
  </head>
  <body>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-bar">
        <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
          Digit Recognition
        </a> 
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <h3>Select image:</h3>
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload"/></p>
        </form>
        <img src={{image_path}} alt ="hello" height="250" weight="250">
    <hr/>
    <div class="row matched-images">
      <h3>Recognised digits:</h3>
       {{digit_value}}
    </div> 
  </div>
  <footer> 
    <div class="text-center">
      <span class="text-center text-muted">Copyright &copy; 2017 Image Recognition</span>
        <li class="pull-right list-unstyle"><a href="#"><i class="fa fa-arrow-up go-to-top"></i></li>
    </div> 
  </footer>
  </body>
</html>
